# Twitter

---

Group name: D

---

In [2]:
import tweepy

In [3]:
from keys import *

In [4]:
import requests

client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [5]:
my_query = 'from:CNN -is:retweet'

In [6]:
tweets = client.search_recent_tweets(query=my_query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [7]:
import pandas as pd

In [8]:
tweets_dict = tweets.json()

In [9]:
tweets_data = tweets_dict['data']

In [10]:
df = pd.json_normalize(tweets_data)

In [11]:
df

,edit_history_tweet_ids,created_at,text,author_id,id
0,[1598715894162653184],2022-12-02T16:29:06.000Z,A hospital patient has been arrested after she...,759251,1598715894162653184
1,[1598712611410952193],2022-12-02T16:16:03.000Z,The study participants reported more severe sy...,759251,1598712611410952193
2,[1598712381588344833],2022-12-02T16:15:09.000Z,"Brad William Henke, a veteran character actor ...",759251,1598712381588344833
3,[1598711303530487809],2022-12-02T16:10:52.000Z,CNN's @David_Culver reports near Mauna Loa as ...,759251,1598711303530487809
4,[1598708475814633473],2022-12-02T15:59:37.000Z,Kanye West’s Twitter account was suspended ear...,759251,1598708475814633473
...,...,...,...,...,...
95,[1598293365329633281],2022-12-01T12:30:07.000Z,“I’ve literally had tenants come up to me and ...,759251,1598293365329633281
96,[1598289599499059200],2022-12-01T12:15:09.000Z,Here are 5️⃣ things to know for December 1. \n...,759251,1598289599499059200
97,[1598285843482959873],2022-12-01T12:00:14.000Z,A man seen punching an elderly Asian woman mor...,759251,1598285843482959873
98,[1598282014767153152],2022-12-01T11:45:01.000Z,The buildup to the US v Iran World Cup game fo...,759251,1598282014767153152
99,[1598278319748915201],2022-12-01T11:30:20.000Z,An Ohio man accused along with his family memb...,759251,1598278319748915201

In [12]:
df.to_csv("twitter.csv")