# Twitter

---

Group name: D

---

In [1]:
import tweepy

In [6]:
from keys import *

In [7]:
import requests

client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [8]:
my_query = 'from:CNN -is:retweet'

In [9]:
tweets = client.search_recent_tweets(query=my_query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [10]:
import pandas as pd

In [11]:
tweets_dict = tweets.json()

In [12]:
tweets_data = tweets_dict['data']

In [13]:
df = pd.json_normalize(tweets_data)

In [14]:
df

,id,author_id,edit_history_tweet_ids,created_at,text
0,1598595357692272641,759251,[1598595357692272641],2022-12-02T08:30:08.000Z,Tesla made the first deliveries of its Semi tr...
1,1598587824646881280,759251,[1598587824646881280],2022-12-02T08:00:12.000Z,"""His name was #MehranSamak"" \n\nIranian securi..."
2,1598580260987195392,759251,[1598580260987195392],2022-12-02T07:30:09.000Z,Pepsi has launched a campaign encouraging cust...
3,1598572688318074881,759251,[1598572688318074881],2022-12-02T07:00:03.000Z,These rescued sea turtles are being rehabilita...
4,1598571436721033216,759251,[1598571436721033216],2022-12-02T06:55:05.000Z,Desdemona is a robot pop star whose creator sa...
...,...,...,...,...,...
95,1598244299379990528,759251,[1598244299379990528],2022-12-01T09:15:09.000Z,Survivors of the fatal mass shooting at Robb E...
96,1598240559860260864,759251,[1598240559860260864],2022-12-01T09:00:18.000Z,Art collective MSCHF's latest project dares th...
97,1598236730007719936,759251,[1598236730007719936],2022-12-01T08:45:04.000Z,Current students and an advocacy group are sui...
98,1598232977284145152,759251,[1598232977284145152],2022-12-01T08:30:10.000Z,A nine-figure settlement between the estate of...
99,1598229189848895489,759251,[1598229189848895489],2022-12-01T08:15:07.000Z,Drake gifted DJ Khaled four toilet bowls worth...

In [15]:
df.to_csv("tweets-obama.csv")