# Textmining

---

Group name: D

---

In [1]:
import pandas as pd

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
df=pd.read_csv("~/Documents/GitHub/homework-1/data/raw/webscraping.csv")

In [4]:
df['Text'] = df['Text'].astype(str).str.lower()

df.head()

   Unnamed: 0                                               Text
0           0  when roswell schaeffer sr. was 8 years old, hi...
1           1  now, nearly seven decades later, schaeffer is ...
2           2  in the 1980s, kotzebue sound’s beluga populati...
3           3  but some scientists think that understanding h...
4           4  cultural practices can become rote, however, a...

In [8]:
from nltk.tokenize import RegexpTokenizer

regexp = RegexpTokenizer('\w+')

df['Text_Token']=df['Text'].apply(regexp.tokenize)

df.head()

,Unnamed: 0,Text,Text_Token
0,0,"when roswell schaeffer sr. was 8 years old, hi...","[when, roswell, schaeffer, sr, was, 8, years, ..."
1,1,"now, nearly seven decades later, schaeffer is ...","[now, nearly, seven, decades, later, schaeffer..."
2,2,"in the 1980s, kotzebue sound’s beluga populati...","[in, the, 1980s, kotzebue, sound, s, beluga, p..."
3,3,but some scientists think that understanding h...,"[but, some, scientists, think, that, understan..."
4,4,"cultural practices can become rote, however, a...","[cultural, practices, can, become, rote, howev..."

In [9]:
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jakob.desantis/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
from nltk.corpus import stopwords

In [11]:
my_stopwords = ['when', 'but']

my_stopwords

['when', 'but']

In [14]:
df['Text_Token_1'] = df['Text_Token'].apply(lambda x: [i for i in x if i not in my_stopwords])

df.head()

,Unnamed: 0,Text,Text_Token,Text_Token_1
0,0,"when roswell schaeffer sr. was 8 years old, hi...","[when, roswell, schaeffer, sr, was, 8, years, ...","[roswell, schaeffer, sr, was, 8, years, old, h..."
1,1,"now, nearly seven decades later, schaeffer is ...","[now, nearly, seven, decades, later, schaeffer...","[now, nearly, seven, decades, later, schaeffer..."
2,2,"in the 1980s, kotzebue sound’s beluga populati...","[in, the, 1980s, kotzebue, sound, s, beluga, p...","[in, the, 1980s, kotzebue, sound, s, beluga, p..."
3,3,but some scientists think that understanding h...,"[but, some, scientists, think, that, understan...","[some, scientists, think, that, understanding,..."
4,4,"cultural practices can become rote, however, a...","[cultural, practices, can, become, rote, howev...","[cultural, practices, can, become, rote, howev..."

In [16]:
df['Text_2'] = df['Text_Token_1'].apply(lambda x: ' '.join([i for i in x if len(i)>2]))

df.head()

,Unnamed: 0,Text,Text_Token,Text_Token_1,Text_2
0,0,"when roswell schaeffer sr. was 8 years old, hi...","[when, roswell, schaeffer, sr, was, 8, years, ...","[roswell, schaeffer, sr, was, 8, years, old, h...",roswell schaeffer was years old his father dec...
1,1,"now, nearly seven decades later, schaeffer is ...","[now, nearly, seven, decades, later, schaeffer...","[now, nearly, seven, decades, later, schaeffer...",now nearly seven decades later schaeffer one o...
2,2,"in the 1980s, kotzebue sound’s beluga populati...","[in, the, 1980s, kotzebue, sound, s, beluga, p...","[in, the, 1980s, kotzebue, sound, s, beluga, p...",the 1980s kotzebue sound beluga population beg...
3,3,but some scientists think that understanding h...,"[but, some, scientists, think, that, understan...","[some, scientists, think, that, understanding,...",some scientists think that understanding how t...
4,4,"cultural practices can become rote, however, a...","[cultural, practices, can, become, rote, howev...","[cultural, practices, can, become, rote, howev...",cultural practices can become rote however and...